<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pnj.uts.gresia_andayanirs">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SensusPenduduk">
        <activity
            android:name="pnj.uts.gresia_andayanirs.tambah_data"
            android:exported="false" />
        <activity
            android:name="pnj.uts.gresia_andayanirs.nambahin"
            android:exported="false" />
        <activity
            android:name="pnj.uts.gresia_andayanirs.updatedata"
            android:exported="false" />

        <activity
            android:name="pnj.uts.gresia_andayanirs.activityhome"
            android:exported="false" />
        <activity
            android:name="pnj.uts.gresia_andayanirs.detail"
            android:exported="false" />
        <activity
            android:name="pnj.uts.gresia_andayanirs.Login"
            android:exported="false" />
        <activity
            android:name="pnj.uts.gresia_andayanirs.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>